.card {
    border-radius: 4px;
    background-color: var(--color-card);
    flex-grow: 1;
    overflow: scroll;
    border: 1px solid var(--color-border);
}

.card h2 {
    font-size: .9rem;
    margin: 0;
    font-weight: 600;
    padding: calc(var(--spacing) * .5) var(--spacing);
    border-bottom: 1px solid var(--border-color);
    opacity: .5;
}