.calendarWrapper {
    position: sticky;
    top: var(--spacing);
    margin-bottom: var(--spacing);
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;

    > * {
        padding: var(--spacing);
    }
}
