.units {
    opacity: .6;
    font-size: .9em;
    font-style: italic;
}

.embedWrapper {
    opacity: .9;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    a {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
        color: inherit;
        font-weight: 700;
        font-size: 1rem;
        text-decoration: none;

        &:hover, &:focus {
            opacity: 1;

            + iframe {
                opacity: .3;
            }
        }
    }

    iframe {
        pointer-events: none;
        transition: all .3s ease;
    }
}